In [31]:
import pandas as pd
path="G:/resources/数据库/pro1/release of project 1/data/prelist2.csv"
path2="G:/resources/数据库/pro1/release of project 1/data/course.csv"
col=['id','name','credit','course_hour','department']
df=pd.read_csv(path,encoding='gbk')
df2=pd.read_csv(path2,names=col)
col4=['id','name']
df3=pd.DataFrame(columns=col4)
df3[col4]=df2[col4]
df3

          id       name
0         id       name
1      GE232       体育IV
2      EE332     数字系统设计
3      CH215       配位化学
4     BIO320      分子生物学
..       ...        ...
336   MA103A    线性代数I-A
337   MA102a     数学分析II
338   CH101B     化学原理 B
339   CH101A     化学原理 A
340  PHY105B  大学物理 B(下)

[341 rows x 2 columns]

In [32]:
df1=df

In [33]:
df

    course_id prerequisite_id  kind
0       EE332            数字电路     1
1       CH215           无机化学I     1
2      BIO320           普通生物学     1
3      ESE212            化学原理     1
4     CH305-2          仪器分析原理     1
..        ...             ...   ...
582    ESE332            化学原理     3
583     CS302         计算机编程基础     3
584     ME303           理论力学I     4
585     ME303           理论力学I     4
586     ME303         理论力学I-B     4

[587 rows x 3 columns]

In [34]:
path1="course_info.json"
df_course=pd.read_json(path1)

col1=['courseId','courseName']
col2=['course_id','prerequisite_id1','prerequisite_id','kind']
df_c1=pd.DataFrame(columns=col1)
df_c2=pd.DataFrame(columns=col2)
df_c1[col1]=df_course[col1]
df_c1=df_c1.drop_duplicates()
df_c1[50:100]
df_c2['course_id']=df1['course_id']
df_c2['prerequisite_id1']=df1['prerequisite_id']
df_c2['kind']=df1['kind']

In [35]:
def find_id(x):
    k=0
    for i in df3[df3['name']==x]['id'].values:
        if i!=0:
            k=i
    return k

df_c2['prerequisite_id']=df_c2.prerequisite_id1.apply(lambda x:find_id(x))

In [36]:
df_c2['prerequisite_id']=df_c2.prerequisite_id.apply(lambda x:None if x==0 else x)
df_c2=df_c2.dropna()

    course_id prerequisite_id1 prerequisite_id  kind
0       EE332             数字电路        EE202-17     1
2      BIO320            普通生物学         BIO102A     1
4     CH305-2           仪器分析原理         CH305-1     1
5       ME306           机械设计基础           ME303     1
6      ESE218              水力学          ESE216     1
..        ...              ...             ...   ...
575    ESE332           化学原理 B          CH101B     3
576    BIO304             数理统计           MA204     3
577     CH306             配位化学           CH215     3
579     CH304             配位化学           CH215     3
581     EE316             模拟电路        EE201-17     3

[351 rows x 4 columns]

In [37]:
df_c2=df_c2.drop_duplicates()

In [38]:
coln=['course_id','prerequisite_id','kind']
df4=pd.DataFrame(columns=coln)
df4[coln]=df_c2[coln]
#df_c2.to_csv("pre_list.csv",index=False)

df4.to_csv('prerequisite.csv',index=False)