In [36]:
import pandas as pd
data1 = pd.read_json("course_info.json")
type(data1)#查看数据类型:DataFrame数据表格
#print(type(data1))#有print的地方一定会执行
data1
data1[:50]#只看前50行
data1[50:100]#取前不取后
data1.columns
data1['teacher']
data2=pd.DataFrame(columns=['teacher','courseDept','courseId'])
data2['courseDept']=data1['courseDept']
data2['teacher']=data1['teacher']
data2['courseId']=data1['courseId']
data2

    teacher courseDept courseId
0       何紫琳       体育中心    GE232
1        赖莎       体育中心    GE232
2       魏伟成       体育中心    GE232
3    体育外聘教师       体育中心    GE232
4    体育外聘教师       体育中心    GE232
..      ...        ...      ...
592     吴健生        物理系  PHY105B
593     鲁大为        物理系  PHY105B
594     吴文政        物理系  PHY105B
595      刘畅        物理系  PHY105B
596     陈远珍        物理系  PHY105B

[597 rows x 3 columns]

In [40]:
data3=pd.DataFrame(columns=['teacher_1','teacher_2','teacher_3',
                            'teacher_4','teacher_5','teacher_6',
                            'teacher_7','teacher_8','teacher_9',
                            'teacher_10','courseDept','courseId'])
data3['teacher_1'] = data2.teacher.apply(lambda x:None if x is None else x.split(',')[0])
data3['teacher_2'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 2 else x.split(',')[1])
data3['teacher_3'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 3 else x.split(',')[2])
data3['teacher_4'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 4 else x.split(',')[3])
data3['teacher_5'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 5 else x.split(',')[4])
data3['teacher_6'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 6 else x.split(',')[5])
data3['teacher_7'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 7 else x.split(',')[6])
data3['teacher_8'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 8 else x.split(',')[7])
data3['teacher_9'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 9 else x.split(',')[8])
data3['teacher_10'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 10 else x.split(',')[9])
data3['courseDept']=data2['courseDept']
data3['courseId']=data2['courseId']
data3[220:280]

t_table_1=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_2=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_3=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_4=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_5=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_6=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_7=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_8=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_9=pd.DataFrame(columns=['teacher','courseDept','courseId'])
t_table_10=pd.DataFrame(columns=['teacher','courseDept','courseId'])

t_table_1['courseDept']=data3['courseDept']
t_table_1['teacher']=data3['teacher_1']
t_table_1['courseId']=data3['courseId']

t_table_2['courseDept']=data3['courseDept']
t_table_2['teacher']=data3['teacher_2']
t_table_2['courseId']=data3['courseId']

t_table_3['courseDept']=data3['courseDept']
t_table_3['teacher']=data3['teacher_3']
t_table_3['courseId']=data3['courseId']

t_table_4['courseDept']=data3['courseDept']
t_table_4['teacher']=data3['teacher_4']
t_table_4['courseId']=data3['courseId']

t_table_5['courseDept']=data3['courseDept']
t_table_5['teacher']=data3['teacher_5']
t_table_5['courseId']=data3['courseId']

t_table_6['courseDept']=data3['courseDept']
t_table_6['teacher']=data3['teacher_6']
t_table_6['courseId']=data3['courseId']

t_table_7['courseDept']=data3['courseDept']
t_table_7['teacher']=data3['teacher_7']
t_table_7['courseId']=data3['courseId']

t_table_8['courseDept']=data3['courseDept']
t_table_8['teacher']=data3['teacher_8']
t_table_8['courseId']=data3['courseId']

t_table_9['courseDept']=data3['courseDept']
t_table_9['teacher']=data3['teacher_9']
t_table_9['courseId']=data3['courseId']

t_table_10['courseDept']=data3['courseDept']
t_table_10['teacher']=data3['teacher_10']
t_table_10['courseId']=data3['courseId']

t_table = pd.concat([t_table_1,t_table_2,t_table_3,t_table_4,t_table_5,t_table_6,t_table_7,t_table_8,t_table_9,t_table_10])
t_table = t_table.drop_duplicates()
t_table=t_table.dropna()

t_table.columns = ['name','department','courseId']
t_table['name']=t_table.name.str.strip()
t_table.to_csv("teacher.csv",index=False)
t_table[:60]

department=pd.DataFrame(columns=['name'])
department['name']=t_table['department']
department = department.drop_duplicates()
department
t_table[0:60]
department[:60]
#department.to_csv("department.csv",index=False)
data3[:60]

,teacher_1,teacher_2,teacher_3,teacher_4,teacher_5,teacher_6,teacher_7,teacher_8,teacher_9,teacher_10,courseDept,courseId
0,何紫琳,None,None,None,None,None,None,None,None,None,体育中心,GE232
1,赖莎,None,None,None,None,None,None,None,None,None,体育中心,GE232
2,魏伟成,None,None,None,None,None,None,None,None,None,体育中心,GE232
3,体育外聘教师,None,None,None,None,None,None,None,None,None,体育中心,GE232
4,体育外聘教师,None,None,None,None,None,None,None,None,None,体育中心,GE232
5,卢阳,None,None,None,None,None,None,None,None,None,体育中心,GE232
6,赵一品,None,None,None,None,None,None,None,None,None,体育中心,GE232
7,何紫琳,None,None,None,None,None,None,None,None,None,体育中心,GE232
8,白波,None,None,None,None,None,None,None,None,None,体育中心,GE232
9,魏伟成,None,None,None,None,None,None,None,None,None,体育中心,GE232
10,体育外聘教师,None,None,None,None,None,None,None,None,None,体育中心,GE232
11,卢阳,None,None,None,None,None,None,None,None,None,体育中心,GE232
12,赵飞,None,None,None,None,None,None,None,None,None,体育中心,GE232
13,何紫琳,None,None,None,None,None,None,None,None,None,体育中心,GE232
14,白波,None,None,None,None,None,None,None,None,None,体育中心,GE232
15,赖莎,None,None,None,None,None,None,None,None,None,体育中心,GE232
16,侯思宇,None,None,None,None,None,None,None,None,None,体育中心,GE232
17,体育外聘教师,None,None,None,None,None,None,None,None,None,体育中心,GE232
18,孙颜,None,None,None,None,None,None,None,None,None,体育中心,GE232
19,赵飞,None,None,None,None,None,None,None,None,None,体育中心,GE232
20,赵一品,None,None,None,None,None,None,None,None,None,体育中心,GE232
21,董伦红,None,None,None,None,None,None,None,None,None,体育中心,GE232
22,赖莎,None,None,None,None,None,None,None,None,None,体育中心,GE232
23,侯思宇,None,None,None,None,None,None,None,None,None,体育中心,GE232
24,体育外聘教师,None,None,None,None,None,None,None,None,None,体育中心,GE232
25,体育外聘教师,None,None,None,None,None,None,None,None,None,体育中心,GE232
26,卢阳,None,None,None,None,None,None,None,None,None,体育中心,GE232
27,赵一品,None,None,None,None,None,None,None,None,None,体育中心,GE232
28,白波,None,None,None,None,None,None,None,None,None,体育中心,GE232
29,魏伟成,None,None,None,None,None,None,None,None,None,体育中心,GE232
30,侯思宇,None,None,None,None,None,None,None,None,None,体育中心,GE232
31,体育外聘教师,None,None,None,None,None,None,None,None,None,体育中心,GE232
32,孙颜,None,None,None,None,None,None,None,None,None,体育中心,GE232
33,赵飞,None,None,None,None,None,None,None,None,None,体育中心,GE232
34,虞亚军,None,None,None,None,None,None,None,None,None,电子与电气工程系,EE332
35,虞亚军,None,None,None,None,None,None,None,None,None,电子与电气工程系,EE332
36,黄文忠,None,None,None,None,None,None,None,None,None,化学系,CH215
37,李瑞熙,None,None,None,None,None,None,None,None,None,生物系,BIO320
38,邓怿,None,None,None,None,None,None,None,None,None,生物系,BIO320
39,唐圆圆,None,None,None,None,None,None,None,None,None,环境科学与工程学院,ESE212
40,朱秀珍,何绮婷,李晓华,汤小菊,王春燕,None,None,None,None,None,化学系,CH305-2
41,刘言军,None,None,None,None,None,None,None,None,None,电子与电气工程系,EE210
42,\t刘烨庞,None,None,None,None,None,None,None,None,None,计算机科学与工程系,CS402
43,柯文德,陈义明,None,None,None,None,None,None,None,None,机械与能源工程系,ME306
44,匡星星,None,None,None,None,None,None,None,None,None,环境科学与工程学院,ESE218
45,徐晶,None,None,None,None,None,None,None,None,None,化学系,CH323
46,匡星星,None,None,None,None,None,None,None,None,None,环境科学与工程学院,ESE216
47,Peter Pimpl,None,None,None,None,None,None,None,None,None,生物系,BIO340
48,王宏强,肖啸川,None,None,None,None,None,None,None,None,机械与能源工程系,ME303
49,郝祁,None,None,None,None,None,None,None,None,None,计算机科学与工程系,CS401
50,郝祁,None,None,None,None,None,None,None,None,None,计算机科学与工程系,CS401
51,郝祁,None,None,None,None,None,None,None,None,None,计算机科学与工程系,CS401
52,郝祁,None,None,None,None,None,None,None,None,None,计算机科学与工程系,CS401
53,田雷蕾,None,None,None,None,None,None,None,None,None,材料科学与工程系,MSE202
54,唐圆圆,None,None,None,None,None,None,None,None,None,材料科学与工程系,MSE202
55,张文勇,None,None,None,None,None,None,None,None,None,医学院,MED307
56,罗丹,None,None,None,None,None,None,None,None,None,电子与电气工程系,EE106
57,王德军,None,None,None,None,None,None,None,None,None,思想政治教育与研究中心,IPE105
58,杨晗旭,None,None,None,None,None,None,None,None,None,思想政治教育与研究中心,IPE105
59,王德军,None,None,None,None,None,None,None,None,None,思想政治教育与研究中心,IPE105

In [41]:
t_table[:60]

                 name   department   courseId
0                 何紫琳         体育中心      GE232
1                  赖莎         体育中心      GE232
2                 魏伟成         体育中心      GE232
3              体育外聘教师         体育中心      GE232
5                  卢阳         体育中心      GE232
6                 赵一品         体育中心      GE232
8                  白波         体育中心      GE232
12                 赵飞         体育中心      GE232
16                侯思宇         体育中心      GE232
18                 孙颜         体育中心      GE232
21                董伦红         体育中心      GE232
34                虞亚军     电子与电气工程系      EE332
36                黄文忠          化学系      CH215
37                李瑞熙          生物系     BIO320
38                 邓怿          生物系     BIO320
39                唐圆圆    环境科学与工程学院     ESE212
40                朱秀珍          化学系    CH305-2
41                刘言军     电子与电气工程系      EE210
42                刘烨庞    计算机科学与工程系      CS402
43                柯文德     机械与能源工程系      ME306
44                匡星星    环境科学与工程学院     ESE218
45                 徐晶          化学系      CH323
46                匡星星    环境科学与工程学院     ESE216
47        Peter Pimpl          生物系     BIO340
48                王宏强     机械与能源工程系      ME303
49                 郝祁    计算机科学与工程系      CS401
53                田雷蕾     材料科学与工程系     MSE202
54                唐圆圆     材料科学与工程系     MSE202
55                张文勇          医学院     MED307
56                 罗丹     电子与电气工程系      EE106
57                王德军  思想政治教育与研究中心     IPE105
58                杨晗旭  思想政治教育与研究中心     IPE105
60                 李翔  思想政治教育与研究中心     IPE105
61                 乐正  思想政治教育与研究中心     IPE105
66                 陈斌     地球与空间科学系     ESS102
67                刘青松     海洋科学与工程系     OCE306
69                何俊锋          数学系     MA201b
71  GARG NAVEEN KUMAR          数学系     MA201b
72                谢小江          化学系    CH305-1
73                柳向东          数学系      MA322
74                 路冬     机械与能源工程系      ME308
75                傅宗玫    环境科学与工程学院     ESE304
76                 严明     材料科学与工程系  MSE330-16
77                张传伦     海洋科学与工程系     OCE308
78                 彭诚      生物医学工程系    BMEB322
79                 熊鹰    环境科学与工程学院     ESE310
80            医学院外聘老师          医学院     MED305
81                 杨燕          数学系      MA224
82                韩品连   力学与航空航天工程系    MAES001
83                 郭震     海洋科学与工程系     OCE304
84                 张冬     机械与能源工程系      ME305
85                李芯芯     海洋科学与工程系     OCE307
86                张利君     电子与电气工程系  EE201-17L
87                何振宇          化学系      CH214
88                 汪飞     电子与电气工程系   EE202-17
89                 王恺     电子与电气工程系   EE202-17
90                刘凯军          物理系  PHY203-15
91                方鑫定     地球与空间科学系     ESS312
92                王连平   力学与航空航天工程系     MAE403
93                 乐正  思想政治教育与研究中心    IPE103

In [3]:
path2="select_course.csv"
cols_name = ['studentName','gender', 'college', 'studentId', 'course1', 'course2','course3','course4','course5','course6','course7']
#course_info
select_cours=pd.read_csv(path2,names = cols_name)
##select_cours
#print(select_cours['course7'].notnull().sum())
#print(select_cours['course6'].notnull().sum())
cols_name1 = ['studentName','gender', 'college_cn', 'studentId', 'course1', 'course2','course3','course4','course5','course6']
select_course=pd.read_csv(path2,names=cols_name1)
#select_course
select_course1=select_course
select_course3=select_course
cols_name2 = ['studentName','gender', 'college_cn','college_en', 'studentId', 'course1', 'course2','course3','course4','course5','course6']
select_course2=pd.DataFrame(columns=cols_name2)
select_course2[cols_name1]=select_course1
select_course2
select_course2['college_cn'] = select_course3.college_cn.apply(lambda x: x.split('(')[0]) 
select_course2['college_en'] = select_course1.college_cn.apply(lambda x: x.split('(')[1]) 
select_course4=select_course2
select_course4['college_en'] = select_course4.college_en.apply(lambda x: x.split(')')[0])
select_course4

,studentName,gender,college_cn,college_en,studentId,course1,course2,course3,course4,course5,course6
0,苗级彩,F,阿兹卡班,Azkaban,11000001,MSE310,BIO305,NaN,NaN,NaN,NaN
1,潘冰泪,F,斯莱特林,Slytherin,11000002,PHY332-15,NaN,NaN,NaN,NaN,NaN
2,奚够啊,M,斯莱特林,Slytherin,11000003,MA204,BIO202,BIO202,NaN,NaN,NaN
3,韩落门,M,赫奇帕奇,Hufflepuff,11000004,CS401,FET204,EE322,NaN,NaN,NaN
4,齐油找,M,拉文克劳,Ravenclaw,11000005,ME306,ESS202,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3999915,黄致新,F,阿兹卡班,Azkaban,14999994,EE106,MA403,NaN,NaN,NaN,NaN
3999916,殷线您,M,阿兹卡班,Azkaban,14999995,EE334,BMEB325,ME306,NaN,NaN,NaN
3999917,尤型度,M,阿兹卡班,Azkaban,14999996,ME101,PHY326-15,PHY206-15,EE480,NaN,NaN
3999918,费闻尼,F,斯莱特林,Slytherin,14999997,OCE201,EE205,CS209A,ESE316,NaN,NaN
3999919,计肯次,F,斯莱特林,Slytherin,14999998,ME405,NaN,NaN,NaN,NaN,NaN

In [4]:
student=pd.DataFrame(columns=['student_id','name','gender','academy'])
student['student_id'] = select_course4['studentId']
student['name'] = select_course4['studentName']
student['gender'] = select_course4['gender']
student['academy'] = select_course4['college_cn']
student = student.drop_duplicates()
#student.to_csv("student.csv",index=False)
student

         student_id name gender academy
0          11000001  苗级彩      F    阿兹卡班
1          11000002  潘冰泪      F    斯莱特林
2          11000003  奚够啊      M    斯莱特林
3          11000004  韩落门      M    赫奇帕奇
4          11000005  齐油找      M    拉文克劳
...             ...  ...    ...     ...
3999915    14999994  黄致新      F    阿兹卡班
3999916    14999995  殷线您      M    阿兹卡班
3999917    14999996  尤型度      M    阿兹卡班
3999918    14999997  费闻尼      F    斯莱特林
3999919    14999998  计肯次      F    斯莱特林

[3999920 rows x 4 columns]

In [5]:
t_table

       name department
0       何紫琳       体育中心
1        赖莎       体育中心
2       魏伟成       体育中心
3    体育外聘教师       体育中心
5        卢阳       体育中心
..      ...        ...
225     张贤高        物理系
228     林玉峰   地球与空间科学系
289     曾孝奇        物理系
224     徐婷婷        物理系
289     王晓峰        物理系

[374 rows x 2 columns]

In [6]:
import numpy as np
t_table_new = pd.DataFrame(columns=['e_mail', 'name', 'department'])
t_table_new['department']=t_table['department']
t_table_new['name']=t_table['name']
t_table_new['e_mail'] = np.random.randint(10000000001,99999999999, size = len(t_table_new))
t_table_new = t_table_new.drop_duplicates(subset=['e_mail'])
t_table_new['e_mail'] = t_table_new['e_mail'].apply(lambda x:"{}{}".format(x, '@mail.sustech.edu.cn'))
t_table_new

                              e_mail    name department
0    23282578608@mail.sustech.edu.cn     何紫琳       体育中心
1    89068898377@mail.sustech.edu.cn      赖莎       体育中心
2    57666691041@mail.sustech.edu.cn     魏伟成       体育中心
3    59699344137@mail.sustech.edu.cn  体育外聘教师       体育中心
5    19651252765@mail.sustech.edu.cn      卢阳       体育中心
..                               ...     ...        ...
225  35870346934@mail.sustech.edu.cn     张贤高        物理系
228  75491668203@mail.sustech.edu.cn     林玉峰   地球与空间科学系
289  74946455149@mail.sustech.edu.cn     曾孝奇        物理系
224  93774254042@mail.sustech.edu.cn     徐婷婷        物理系
289  64470112240@mail.sustech.edu.cn     王晓峰        物理系

[374 rows x 3 columns]

In [7]:
#t_table_new.to_csv("teacher.csv",index=False)

In [8]:
course = pd.DataFrame(columns=['id', 'name', 'credit','course_hour', 'department'])
data1
course['id'] = data1['courseId']
course['name'] = data1['courseName']
course['credit'] = data1['courseCredit']
course['course_hour'] = data1['courseHour']
course['department'] = data1['courseDept']
#data3['teacher_1'] = data2.teacher.apply(lambda x:None if x is None else x.split(',')[0])
#data3['teacher_2'] = data2.teacher.apply(lambda x:None if x is None or len(x.split(',')) < 2 else x.split(',')[1])
#course['name'] = data1.className.apply(lambda x:None if x is None else x.split('（')[0]) 
#course['requirement'] = data1.className.apply(lambda x:None if x is None or len(x.split('）')) < 2 else x.split('）')[1]) 
course = course.drop_duplicates()
course[120:180]
#course.to_csv("course.csv",index=False)
course

          id       name  credit  course_hour department
0      GE232       体育IV     1.0           32       体育中心
34     EE332     数字系统设计     3.0           64   电子与电气工程系
36     CH215       配位化学     3.0           48        化学系
37    BIO320      分子生物学     3.0           48        生物系
39    ESE212       环境监测     2.0           32  环境科学与工程学院
..       ...        ...     ...          ...        ...
580   MA103A    线性代数I-A     4.0           64        数学系
582   MA102a     数学分析II     5.0           96        数学系
584   CH101B     化学原理 B     3.0           48        化学系
586   CH101A     化学原理 A     4.0           64        化学系
589  PHY105B  大学物理 B(下)     4.0           64        物理系

[340 rows x 5 columns]

In [15]:
class_1 = pd.DataFrame(columns=['id', 'total_capacity', 'course_id','class_name', 'requirement'])
class_1['class_name'] = data1['className']
class_1['course_id'] = data1['courseId']
class_1['total_capacity'] = data1['totalCapacity']
class_1['class_name'] = data1.className.apply(lambda x:None if x is None else x.split('（')[0]) 
class_1['requirement'] = data1.className.apply(lambda x:None if x is None or len(x.split('（')) < 2 else x.split('（')[1]) 
class_1['requirement'] = class_1.requirement.apply(lambda x: None if x is None else x.split('）')[0])
class_1['id'] = np.random.randint(10000,99999, size = len(class_1))
#class_1 = class_1.drop_duplicates(subset=['id'])
class_1['class_name']=class_1.class_name.str.strip()
class_1['course_id']=class_1.course_id.str.strip()
class_1['id'] = range(len(class_1))
class_1
#class_1.to_csv("class.csv",index=False)

      id  total_capacity course_id class_name requirement
0      0              28     GE232      乒乓球3班        None
1      1              30     GE232      健美操2班        None
2      2              30     GE232       游泳1班        None
3      3              30     GE232     定向越野1班        None
4      4              28     GE232      羽毛球1班        None
..   ...             ...       ...        ...         ...
592  592             150   PHY105B     中英双语6班        None
593  593             150   PHY105B     中英双语5班        None
594  594             150   PHY105B     中英双语4班        None
595  595             150   PHY105B     中英双语3班        None
596  596             150   PHY105B     中英双语2班        None

[597 rows x 5 columns]

In [10]:
class_teacher = pd.DataFrame(columns=['teacher_mail', 'class_id'])
imp1 = pd.read_csv("teacher_formal.csv")
imp2 = pd.read_csv("class.csv")
class_teacher['teacher_mail'] = imp1['e_mail']
class_teacher['class_id'] = imp2['id']
class_teacher
#class_teacher.to_csv("class_teacher.csv",index=False)

                        teacher_mail  class_id
0    94537882589@mail.sustech.edu.cn         0
1    50479743508@mail.sustech.edu.cn         1
2    54634565619@mail.sustech.edu.cn         2
3    56276656773@mail.sustech.edu.cn         3
4    91770070636@mail.sustech.edu.cn         4
..                               ...       ...
369  76721321833@mail.sustech.edu.cn       369
370  56625082491@mail.sustech.edu.cn       370
371  48867979169@mail.sustech.edu.cn       371
372  21357534123@mail.sustech.edu.cn       372
373  64841633720@mail.sustech.edu.cn       373

[374 rows x 2 columns]

In [11]:
class_detail = pd.DataFrame(columns=['class_id', 'kind','location', 'weekday','class_time', 'weeklist'])
class_detail['class_id'] = imp4['id']
imp3 = pd.read_csv("courseInfo_.csv")
class_detail['location'] = imp3['classList/0/location']
class_detail['weekday'] = imp3['classList/0/weekday']
class_detail['class_time'] = imp3['classList/0/classTime']
class_detail['weeklist'] = imp3['classList/0/weekList/0']
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/1'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/2'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/3'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/4'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/5'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/6'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/7'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/8'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/9'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/10'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/11'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/12'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/13'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))
class_detail['weeklist'] = class_detail['weeklist'] + imp3['classList/0/weekList/14'].map(str)
class_detail['weeklist'] = class_detail['weeklist'].apply(lambda x:"{}{}".format(x, ','))

class_detail['kind'] = imp3['className']
class_detail

NameError: name 'imp4' is not defined

In [ ]:
course['id']=course.id.str.strip()
course['name']=course.name.str.strip()
course['department']=course.department.str.strip()
course = course.drop_duplicates(subset=['id'])
course
course.to_csv("course.csv",index=False)
#class_1['id'] = np.random.randint(10000,99999, size = len(class_1))
class_1['id'] = range(len(class_1))

In [ ]:
class_1

In [ ]:
imp4 = pd.read_csv("class.csv")
student_class = pd.DataFrame(columns=['student_id', 'class_id'])
student_class['student_id'] = student['student_id']
student_class['class_id'] = imp4['id']
student

In [ ]:
class_1
#class_1['id'] = range(len(class_1))
#class_1.to_csv("class_1_1.csv",index=False)
class_2 = pd.DataFrame(columns=['id', 'total_capacity', 'course_id', 'class_name', 'requirement', 'classlist'])
class_2['id'] = class_1['id']
class_2['total_capacity'] = class_1['total_capacity']
class_2['course_id'] = class_1['course_id']
class_2['class_name'] = class_1['class_name']
class_2['requirement'] = class_1['requirement']
class_2['classlist'] = data1['classList']
class_2
class_2.to_csv("class_2.csv",index=False)
class_2
class_2

In [ ]:
c1=pd.DataFrame()
for i in class_2['classlist']:
    for j in i:
        c=pd.DataFrame(j)
        c1=pd.concat([c1,c])
c1

In [19]:
#class_2.to_csv("class_2.csv",index=False)
imp4

NameError: name 'imp4' is not defined

In [27]:
class_1[:60]
class_re = pd.DataFrame(columns=['id', 'total_capacity', 'course_id', 'class_name', 'requirement', 'teacher_1','teacher_2','teacher_3',
                            'teacher_4','teacher_5','teacher_6',
                            'teacher_7','teacher_8','teacher_9',
                            'teacher_10'])
class_re['id'] = class_1['id']
class_re['total_capacity'] = data1['totalCapacity']
class_re['course_id'] = class_1['course_id']
class_re['class_name'] = class_1['class_name']
class_re['requirement'] = class_1['requirement']
class_re['teacher_1'] = data3['teacher_1']
class_re['teacher_2'] = data3['teacher_2']
class_re['teacher_3'] = data3['teacher_3']
class_re['teacher_4'] = data3['teacher_4']
class_re['teacher_5'] = data3['teacher_5']
class_re['teacher_6'] = data3['teacher_6']
class_re['teacher_7'] = data3['teacher_7']
class_re['teacher_8'] = data3['teacher_8']
class_re['teacher_9'] = data3['teacher_9']
class_re['teacher_10'] = data3['teacher_10']
class_re

c_t_1=pd.DataFrame(columns=['teacher',''])
c_t_2=pd.DataFrame(columns=['teacher','courseDept'])
c_t_3=pd.DataFrame(columns=['teacher','courseDept'])
c_t_4=pd.DataFrame(columns=['teacher','courseDept'])
c_t_5=pd.DataFrame(columns=['teacher','courseDept'])
c_t_6=pd.DataFrame(columns=['teacher','courseDept'])
c_t_7=pd.DataFrame(columns=['teacher','courseDept'])
c_t_8=pd.DataFrame(columns=['teacher','courseDept'])
c_t_9=pd.DataFrame(columns=['teacher','courseDept'])
c_t_10=pd.DataFrame(columns=['teacher','courseDept'])

df = df.set_index(["id"])["teacher"].str.split(",", expand=True)\
    .stack().reset_index(drop=True, level=-1).reset_index().rename(columns={0: "teacher"})

,id,total_capacity,course_id,class_name,requirement,teacher_1,teacher_2,teacher_3,teacher_4,teacher_5,teacher_6,teacher_7,teacher_8,teacher_9,teacher_10
0,0,28,GE232,乒乓球3班,None,何紫琳,None,None,None,None,None,None,None,None,None
1,1,30,GE232,健美操2班,None,赖莎,None,None,None,None,None,None,None,None,None
2,2,30,GE232,游泳1班,None,魏伟成,None,None,None,None,None,None,None,None,None
3,3,30,GE232,定向越野1班,None,体育外聘教师,None,None,None,None,None,None,None,None,None
4,4,28,GE232,羽毛球1班,None,体育外聘教师,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,592,150,PHY105B,中英双语6班,None,吴健生,None,None,None,None,None,None,None,None,None
593,593,150,PHY105B,中英双语5班,None,鲁大为,None,None,None,None,None,None,None,None,None
594,594,150,PHY105B,中英双语4班,None,吴文政,None,None,None,None,None,None,None,None,None
595,595,150,PHY105B,中英双语3班,None,刘畅,None,None,None,None,None,None,None,None,None
596,596,150,PHY105B,中英双语2班,None,陈远珍,None,None,None,None,None,None,None,None,None

In [30]:
from xpinyin import Pinyin
b=Pinyin()
b.get_pinyin(u"上海","")
t_table_new
t_table_new['e_mail'] = t_table_new.e_mail.apply(lambda x:b.get_pinyin(u"name", ""))

                              e_mail    name department
0    23282578608@mail.sustech.edu.cn     何紫琳       体育中心
1    89068898377@mail.sustech.edu.cn      赖莎       体育中心
2    57666691041@mail.sustech.edu.cn     魏伟成       体育中心
3    59699344137@mail.sustech.edu.cn  体育外聘教师       体育中心
5    19651252765@mail.sustech.edu.cn      卢阳       体育中心
..                               ...     ...        ...
225  35870346934@mail.sustech.edu.cn     张贤高        物理系
228  75491668203@mail.sustech.edu.cn     林玉峰   地球与空间科学系
289  74946455149@mail.sustech.edu.cn     曾孝奇        物理系
224  93774254042@mail.sustech.edu.cn     徐婷婷        物理系
289  64470112240@mail.sustech.edu.cn     王晓峰        物理系

[374 rows x 3 columns]